<header class="app-header p-shadow-2 p-p-3 bg-light">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <div class="header-logo my-3">
      <p-image src="assets/images/login-logo.png" alt="logo" class="logo" width="150"> </p-image>
    </div>

    <!-- Title -->
    <div class="header-title text-center my-3">
      <h3 class="text-dark header-title-text">EVIDENCE DETECTOR</h3>
    </div>

    <!-- Logout Button -->
    <div class="header-actions" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</div>
  </div>
</header>
