<!-- login.component.html -->
<div class="d-flex justify-content-center align-items-center min-vh-100 main-background">
  <div class="login-card p-4 rounded w-100" style="max-width: 450px;" [@moveUp]>
    <div>
      <div class="header text-center mb-4">
        <img src="assets/images/login-logo.png" alt="logo" class="logo mb-3" width="200" />
        <h1 class="main-title">EVIDENCE DETECTOR</h1>
        <p class="subtitle">by Delectatech</p>

        <div class="spinner" *ngIf="!loginChecked || loading">
          <app-eel-spinner></app-eel-spinner>
          <p class="subtitle">Loading...</p>
        </div>
      </div>
      <form *ngIf="loginChecked && !loading" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="inputs-container">
          <div class="p-field mb-3">
            <label for="email" class="p-label">Correo electrónico</label>
            <input
              pInputText
              id="email"
              type="email"
              formControlName="email"
              autofocus
              class="w-100"
              placeholder="Ingrese su correo electrónico"
              [class.p-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            />
            <!-- <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="p-error">
              The email is invalid          
            </small> -->
          </div>
  
          <div class="p-field mb-3">
            <label for="password" class="p-label">Contraseña</label>
            <p-password
              id="password" 
              formControlName="password" 
              placeholder="Contraseña"
              [feedback]="false"
              [toggleMask]="true"
              styleClass="w-100"
              inputStyleClass="w-100"
              [class.p-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            </p-password>
            <!-- <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error">
              The password is invalid
            </small> -->
          </div>
        </div>
        <div *ngIf="loginError" class="error-message mb-3 text-danger text-center">
          Password or email are invalid.
        </div>
        <div class="text-center">
          <p-button
            type="submit"
            [disabled]="!loginForm.valid || loading"
            label="Entrar"
            styleClass="login-button w-100 d-flex justify-content-center align-items-center">
            <p-progressSpinner
              *ngIf="loading"
              strokeWidth="4"
              [style]="{ width: '20px', height: '20px' }"
              styleClass="spinner ml-2">
            </p-progressSpinner>
          </p-button>
        </div>
      </form>
    </div>
  </div>
</div>
