<!-- login.component.html -->
<div class="d-flex justify-content-center align-items-center min-vh-100 main-background">
  <div class="login-card p-4 rounded shadow-lg bg-white w-100" style="max-width: 400px;" [@moveUp]>
    <div *ngIf="loginChecked && !loading">

      <div class="header text-center mb-4">
        <img src="assets/images/login-logo.png" alt="logo" class="logo mb-2" width="200" />
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="inputs-container">
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Enter your e-mail</mat-label>
            <input
              matInput
              id="email"
              type="email"
              formControlName="email"
              autofocus
              [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            />
            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              The email is invalid          
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Enter your password</mat-label>
            <input matInput 
              id="password" 
              type="password"
              formControlName="password" 
              placeholder="Enter your password"/>
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              The password is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="loginError" class="error-message mb-3 text-danger text-center">
          Password or email are invalid.
        </div>
        <div class="text-center">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid || loading"
            class="w-100 d-flex justify-content-center align-items-center"
          >
            Log In
            <mat-progress-spinner
              *ngIf="loading"
              mode="indeterminate"
              diameter="20"
              class="spinner ml-2"
            ></mat-progress-spinner>
          </button>
        </div>
      </form>
    </div>
    <ng-container *ngIf="!loginChecked || loading">
        <div class="header text-center mb-4">
          <div class="svg-container">
            <svg width="179" height="166" viewBox="0 0 179 166" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1.52588e-05" width="179" height="166" fill="white" />
              <path d="M127 80.5L90 18L11 155" stroke="#0E154B" stroke-width="12" />
              <path d="M106.5 92L90.5 65.5L53.5 127.5" stroke="#0E154B" stroke-width="10" />
              <rect x="6" y="146.444" width="179" height="18" transform="rotate(-29.243 6 146.444)" fill="white" />
              <rect x="6" y="146.444" width="179" height="18" transform="rotate(-29.243 6 146.444)" fill="white" />
              <path d="M131.5 77.5L171.5 147.5" stroke="#0E154B" />
              <path d="M115 87L138.5 128H28.5" stroke="#0E154B" stroke-width="12" />
              <path d="M113.5 114.5L102 94.5L65.5 114.5H113.5Z" fill="#0E154B" />
              <rect x="1.52588e-05" y="148" width="179" height="18" fill="white" />
              <rect x="1.52588e-05" y="148" width="179" height="18" fill="white" />
            </svg>
          </div>
        </div>
    </ng-container>
  </div>
</div>
