<p-message
  severity="info"
  class="info-panel"
  [closable]="false"
>
  <i class="pi pi-info-circle" style="margin-right: 0.5em;"></i>
  <span class="info-content">
    <span class="info-text">
      Conoce más a fondo la metodología que se ha empleado para la extracción y análisis de conceptos para Angulas Aguinaga
    </span>
    <a href="#" class="learn-more-link" style="text-decoration: underline;" (click)="showMethodology(); $event.preventDefault()">Saber más</a>
  </span>
</p-message>

<section class="component-container">
  <!-- Search moved to the top -->
  <div class="search-container mb-3 d-flex">
    <div class="search-input-wrapper">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input #searchInput pInputText type="text" [(ngModel)]="searchValue" (input)="establishmentsTable.filterGlobal(searchInput.value, 'contains')" placeholder="Busca aquí nombres de establecimientos, direcciones o provincias" class="search-input" />
      </span>
    </div>
  </div>

  <div class="filters-container row" [ngClass]="{ loading: loading }">
    <div class="col-5 d-flex align-items-center">
      <label class="me-2">Ver evidencias:</label>
      <p-selectButton 
        [options]="evidenceOptions" 
        [(ngModel)]="selectedEvidence" 
        (onChange)="applyFilter()" 
        optionLabel="name" 
        optionValue="value">
      </p-selectButton>
    </div>
    <div class="col-3 d-flex align-items-center">
      <label class="me-2">Provincias:</label>
      <p-dropdown
        [options]="provincesOptions"
        [style]="{ width: '100%', flex: 1 }"
        placeholder="Seleccionar una provincia"
        optionLabel="name"
        optionValue="uid"
        (onChange)="applyFilter()"
        [filter]="true"
        [(ngModel)]="selectedProvince"
      />
    </div>
    <div class="col-3 align-items-center row">
      <div class="col-auto text-center">
        <span>Score</span>
      </div>
      <div class="col-md-6" style="display: flex; justify-content: space-between; align-items: center; min-width: 15em; margin-left: 0.5rem">
        <span class="mx-1">{{ rangeValues[0] }}%</span>
        <p-slider class="d-block slider potential-slider" [(ngModel)]="rangeValues" (onSlideEnd)="applyFilter()" [range]="true"></p-slider>
        <span class="mx-1">{{ rangeValues[1] }}%</span>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-end" style="max-width: 120px">
      <p-button 
        class="p-button-secondary" 
        icon="pi pi-trash" 
        [loading]="loading" 
        (onClick)="resetFilter()" 
        pTooltip="Borrar filtros"
        tooltipPosition="top">
      </p-button>
    </div>
  </div>
  
  <!-- Custom spinner overlay -->
  <div class="table-container" [ngClass]="{ 'loading': loading }">
    <div *ngIf="loading" class="custom-loading-overlay">
      <app-eel-spinner></app-eel-spinner>
      <p class="loading-text">Cargando resultados de evidencias de gulas en menús...</p>
    </div>
    
    <p-table
    #establishmentsTable
    (onLazyLoad)="onLazyLoad($event)"
    [lazy]="true"
    [columns]="cols"
    [value]="(establishments$ | async) ?? []"
    [tableStyle]="{ 'min-width': '50rem' }"
    [totalRecords]="totalRecords"
    [paginator]="true"
    [rows]="50"
    [first]="first"
    [showCurrentPageReport]="false"
    [rowsPerPageOptions]="[10, 15, 20, 50]"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [loading]="false"
    locale="es-ES"
    styleClass="p-datatable-striped"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} locales"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.orderable ? col.field : null" style="min-width: 10rem">
          <div class="flex align-items-center">
            {{ col.header }}
            <p-sortIcon *ngIf="col.orderable" [field]="col.field"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of cols">
          <ng-container [ngSwitch]="col.field">
            <!-- Other Fields -->
            <ng-container *ngSwitchCase="'name'">
              <span class="namePopUp" (click)="redirectDetail(rowData['restaurantUidentifier'])">
                {{ rowData[col.field] }}
                <i class="mx-1 fa-solid fa-arrow-up-right-from-square"></i>
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'streetAddress'">
              <span [ngClass]="{ namePopUp: rowData['links'].googleUrl || rowData['links'].tripAdvisorUrl }" (click)="redirectDirection(rowData['links'], rowData['restaurantUidentifier'])">
                {{ getFullAddress(rowData) }}
                <i *ngIf="rowData['links'].googleUrl" class="mx-1 fa-regular fa-map"></i>
                <i *ngIf="rowData['links'].tripAdvisorUrl && !rowData['links'].googleUrl" class="fa-solid fa-utensils"></i>
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'total_images'">
              {{ (rowData?.menus?.elvers_count || rowData?.menus?.north_elvers_count) || '-' }}
            </ng-container>
            <ng-container *ngSwitchCase="'total_comments'">
              {{ (rowData?.comments?.elvers_count || rowData?.comments?.north_elvers_count) || '-' }}
            </ng-container>
            <!-- Potential Ratio as Progress Bar -->
            <ng-container *ngSwitchCase="'score'">
              <p-progressBar [value]="rowData['score_progressBar']" [showValue]="false" />
              <span class="justify-content-center">
                <small>{{ rowData[col.field] }}</small>
              </span>
            </ng-container>
            <!-- Default Case -->
            <ng-container *ngSwitchDefault>
              {{ rowData[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols.length" class="text-center">
          <div style="width: 25vw; margin: 0 auto">
            <p-messages class="my-2" [(value)]="noEstablishmentsFoundMessage[0]" [enableService]="false" [closable]="false" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div> <!-- Close table-container -->
</section>

<ng-template #methodologyTemplate>
  <h2 mat-dialog-title>
    <i class="pi pi-info-circle" style="margin-right: 0.5rem;"></i>
    Metodología de análisis de evidencias
  </h2>
  
  <mat-dialog-content>
    <p>Para llevar a cabo este análisis, se han recogido y procesado tres tipos de fuentes de información:</p>
    <ul>
      <li>
        <strong>Imágenes:</strong> Se han analizado todos los menús en formato imagen accesibles públicamente (Google, TripAdvisor, PDFs…) con fecha posterior a enero de 2024.
      </li>
      <li>
        <strong>Web:</strong> Se ha revisado el contenido de las páginas web oficiales de los restaurantes, identificando menciones a productos de gulas disponibles durante junio de 2025.
      </li>
      <li>
        <strong>Comentarios:</strong> Se han analizado los comentarios en diferentes directorios online de los comensales publicados desde julio de 2024 en adelante.
      </li>
    </ul>
    
    <p>Tras la recogida de evidencias, se ha realizado una segmentación de <strong>4.000 restaurantes</strong>, siguiendo estos criterios:</p>
    <ul>
      <li>Se han <strong>excluido</strong> aquellos establecimientos sin evidencias de carta (imagen o web).</li>
      <li>También se han <strong>excluido</strong> los restaurantes ubicados en Andalucía, Murcia, Extremadura, Baleares y Canarias (regiones no incluidas en el contrato).</li>
      <li>
        A cada restaurante se le ha asignado un <strong>score</strong> basado en:
        <ul>
          <li>
            <strong>La fuente y relevancia de la evidencia:</strong>
            <ul>
              <li>Prioridad: “gula del norte” en menú imagen &gt; “gulas” en menú imagen &gt; “gula” en web &gt; “gulas” en web.</li>
            </ul>
          </li>
          <li>
            <strong>La cantidad y calidad de comentarios,</strong> con mayor peso para las menciones a “gula del norte”.
          </li>
          <li>
            El <strong>scoring final</strong> resulta de aplicar el mismo criterio, ajustado según la antigüedad del menú o web más reciente, así como el volumen total de comentarios encontrados, de forma que se prioriza la evidencia más actual y abundante.
          </li>
        </ul>
      </li>
    </ul>
  </mat-dialog-content>
  
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close>Entendido</button>
  </mat-dialog-actions>
</ng-template>

